
<nav>
    <ul>
        <li><a href="/Homepage">Home</a></li>
        <li><a href="/Recent">Recent Projects</a></li>
        <li>
            <form action="/search" method="GET">
                <input type="text" name="search" placeholder="Search for a user or project">
                <button type="submit">Search</button>
            </form>
        </li>
    </ul>
</nav>