<div class='project-user'>
	<a class='user-id' href='/profile/{{user.id}}' rel='author'>
		<img
			class='profile-image-nav'
			src='{{getProfileImage user.profile_image_link}}'
			alt=''
		/>
		{{user.name}}
	</a>
</div>