<div class="reaction-buttons">
    <button class="reaction-button thumbs_up">
        <i class="bi bi-hand-thumbs-up-fill"></i> 
        {{count_thumbs reactions}}
    </button>
    <button class="reaction-button stars">
        <i class="bi bi-stars"></i> 
        {{count_stars reactions}}
    </button>
    <button class="reaction-button heart">
        <i class="bi bi-heart-fill"></i> 
        {{count_heart reactions}}
    </button>
    <button class="reaction-button bullseye">
        <i class="bi bi-bullseye"></i> 
        {{count_bullseye reactions}}
    </button>
</div>