<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Visual Vault / Communitree </title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
      <header >
        <img class="logo" src="/images/Logop2.png" alt="Visual Vault Logo" />
			  <nav class="navigation">
          <div class="search-bar">
          <form action="/search" method="GET">
          <input type="text" name="search" placeholder="Search for a user or project">
          <button type="submit">Search</button>
          </form>
          </div>
        <button onclick="window.location.href='/'">Home</button>
        <button onclick="window.location.href='/recent'">Recent Projects</button>
				<button onclick="scrollToSection('about')">About Us</button>
				<button onclick="scrollToSection('contact')">Contact Us</button>
        {{#unless logged_in}}
				<button onclick="window.location.href='login'">
					Login
				</button>
        {{else}}
        <button onclick="window.location.href='/profile'">Profile</button>
        {{/unless}}
			</nav>
		</header>
      <main class="">
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>
        <li><a href="/about">About Us</a></li>
        <li><a href="https://github.com/AMillsy/Matrix-project">GitHub</a></li>
      </footer>
    </div>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>