<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Portfolio Develop</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
      <header>
          <h1>Site name</h1>
            {{#if loggedIn}}
            <p>Welcome, {{username}}! <a href="/profile">Profile</a></p>
            {{else}}
            <p><a href="/login">Login</a></p>
            {{/if}}

        <nav>
          <ul>
            <li><a href="/Homepage">Home</a></li>
            <li><a href="/Recent">Recent Projects</a></li>
            <li>
                <form action="/search" method="GET">
                    <input type="text" name="search" placeholder="Search for a user or project">
                    <button type="submit">Search</button>
                </form>
            </li>
          </ul>
        </nav>
        
      </header>
      <main class='container container-fluid mt-5'>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>
        <li><a href="/about">About Us</a></li>
        <li><a href="https://github.com/AMillsy/Matrix-project">GitHub</a></li>
      </footer>
    </div>
    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>