<!-- If not logged in, then show the introduction article -->
{{#unless logged_in}}
	<article class='introduction'>
		<h2 id='about' style='font-size: 75px; font-family: Geneva, Verdana, sans-serif; color: white; margin-right: 30%;'>
			Designed with developers in mind
		</h2>
		<p style='font-size: 27px; font-family: Geneva, Verdana, sans-serif; color: white; margin-right: 30%;'>
			~ Unleashed for enhanced productivity.
			<br />
			~ Provide feedback on repositories created by others.
			<br />
			~ Step into the platform that captures the hearts of developers
			worldwide.
			<br />
		</p>
		<h3 style='font-size: 50px; font-family: Geneva, Verdana, sans-serif; color: white; margin-right: 53%; margin-left: 2%'>
			Welcome to Visual Volt!
		</h3>
		<br />

		<div class='signup-form'>
			<input type='email' placeholder='Email' />
			<button onclick='signUp()'>Sign Up for Visual Vault</button>
		</div>

	</article>
{{/unless}}

<!-- Loop over each object in the projects array -->
<article class="feature_projects">
<h2 class="feature_text">Featured User Projects</h2>
{{#each projects as |project|}}
{{> project_card loggedInUser=../userId}}
{{/each}}
</article>
