<div class='row'>
	<div class='col-auto'>
		<h2>Welcome, {{name}}!</h2>
	</div>
</div>
<div class="profile_container">
	<h3>Add a profile picture</h3>
	<form action="#" id="profile-form">
		<input type="file" name="profile-picture" id="profile-picture">
		<button type='submit' class='btn btn-primary'>Submit</button>
	</form>
</div>
	
<div id="profile-preview"></div>
	
</div>
	{{#if projects.length}}
	<div class='col-md-6 project-list'>
		<h3>Current Projects:</h3>
			{{#each projects as |project|}}
				<div class='row mb-2'>
					<div class='col-md-8'>
						<h4><a
								href='/project/{{project.id}}'
							>{{project.project_name}}</a></h4>
					</div>
					<div class='col-md-4'>
						<button
							class='btn btn-sm btn-danger'
							data-id='{{project.id}}'
						>DELETE</button>
					</div>
				</div>
			{{/each}}
		</div>
	{{/if}}
</div>

<script src='./js/profile.js'></script>