<article>
	<!-- prettier ignore -->
	SOCIAL MEDIA TAGS
	<!-- prettier ignore -->
	TITLE OF PROJECT
	<h2>{{project_name}}</h2>
	<!-- prettier ignore -->
	LINK TO THE PROJECT
	<a href='{{repo_link}}'>Github Link</a>
	<a href='{{deployed_link}}'>Deployed Link</a>
	<!-- prettier ignore -->
	PROJECT DESCRIPTION
	<p>{{description}}</p>
</article>