<article>

	{{! SOCIAL MEDIA TAGS }}

	{{! TITLE OF PROJECT }}
	<h2>{{project.project_name}}</h2>

	{{! LINK TO THE PROJECT }}
	<div class='project-links'>
		<a class='social_containers' href='{{project.repo_link}}'><img
				class='socials'
				src='/images/github.png'
				alt=''
			/></a>
		<a href='{{project.deployed_link}}'>Deployed Link</a>
	</div>
	<div class='slideshow-container'>

	</div>
	{{! PROJECT DESCRIPTION }}

	<p>{{project.description}}</p>
</article>

<script src='/js/project'></script>