<form method='post' action='/api/users/picture' class='file-submit'>
  <input
    type='file'
    id='image-file'
    name='photo'
    accept='image/png, image/gif, image/jpeg'
  />
  <input type='submit' class='submit-btn' />
</form>