<div class='row'>
	<div class='col-auto profile-title'>
		<img class="profile-image-nav" src="{{getProfileImage profile_image_link}}" alt="">
		<h2>{{name}}</h2>
	</div>
</div>

<div class="socials-container">
	<h4>Github: </h4>
<a href="{{github_username}}"><img class="social-img-con" src="../images/github.png" alt="" srcset=""></a>
	<h3 class="social-title">Socials</h3>
	{{#if socials}}
		{{#each socials as |social|}}
			{{> socialCard}}
		{{/each}}
	{{/if}}
	{{#unless socials}}
		<p>{{name}} hasn't added any social links yet</p>
	{{/unless}}
</div>

	
<div class="projects-container">
	{{#if projects.length}}
	<div class='col-md-6 project-list'>
		<h3>Current Projects:</h3>
			{{#each projects as |project|}}
				{{> project_card avoidProfile=true loggedInUser=../userId}}
			{{/each}}
		</div>
	{{/if}}
</div>

