@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css');

header,
.project:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

.feature_projects {
	border-top: 5px black solid;
	display: flex;
	flex-direction: column;
	background-color: #301934;
}
.feature_text {
	padding: 10px;
	text-align: center;
	color: white;
}
.project {
	position: relative;
	min-height: 100px;
	margin: 5px;
	color: white;
	background-color: #121212;
}

.no-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: #1b89bc;
	text-decoration: none;
	font-size: 100%;
}

.no-button:hover {
	color: #065b83;
	text-decoration: underline;
}

.dollar-amount {
	color: #056605;
	font-weight: bold;
	margin-left: -5px;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.logo {
	max-width: 220px;
	max-height: 180px;
	margin: -10px;
}

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	min-height: 150px;
	background-color: rgba(0, 136, 204, 0.8);
	color: white;
	text-align: center;
	position: relative;
}

nav {
	margin: 30px;
	width: 100%;
}
.navigation button {
	position: relative;
	margin-left: 10px;
	background-color: #ffffff;
	color: #0088cc;
	border: none;
	border-radius: 4px;
	padding: 8px 15px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.navigation button:hover {
	background-color: #0088cc;
	color: white;
}

footer {
	background-color: rgba(0, 136, 204, 0.8);
	color: white;
	padding: 10px;
	text-align: center;
}

.signup-form {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}

.signup-form input {
	width: 100%;
	padding: 8px;
	margin-bottom: 10px;
}

.signup-form button {
	background-color: #0088cc;
	color: white;
	border: none;
	border-radius: 4px;
	padding: 8px 12px;
	font-size: 14px;
	cursor: pointer;
}

.introduction {
	background-image: url('/images/background.png');
	padding-top: 10px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 600px;
}

.project-links {
	display: flex;

	align-items: center;
}

.social_containers {
	margin: 5px;
	display: flex;
	width: 60px;
	height: 60px;
}
.socials {
	object-fit: contain;
}

.search-bar {
	display: flex;
	align-items: center;
}

.search-bar input[type='text'] {
	flex-grow: 1;
	font-size: 18px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	width: 40%;
}

.search-bar button {
	font-size: 17px;
	padding: 10px 20px;
	background-color: #555;
	color: #fff;
	border: none;
	border-radius: 5px;
	margin-left: 10px;
	cursor: pointer;
}

.search-bar button:hover {
	background-color: #777;
}
/*Test styles*/

/* Slideshow container */
.slideshow-container {
	height: 300px;
	display: flex;
	justify-content: center;
	position: relative;
	margin: auto;
}

/* Hide the images by default */
.mySlides {
	width: 100%;
	height: 100%;
	display: none;
}
.slide_image {
	object-fit: contain;
}
/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 3px;
	user-select: none;
	color: black;
}

/* Position the "next button" to the right */
.next {
	right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}
.slide-btn-container {
	margin: 20px;
	display: flex;
	justify-content: space-between;
}
.preview-container {
	display: flex;
	justify-content: space-evenly;
}
.preview-image-force {
	display: flex;
	max-width: 200px;
	max-height: 200px;
	height: auto;
	width: auto;
}
.preview-image {
	object-fit: cover;
	max-width: 200px;
	max-height: 200px;
	width: 200px;
	height: 200px;
}
.preview-profile {
	border-radius: 50%;
}

.user-card {
	background-color: black;
}
@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 1700px) {
	nav button {
		margin-right: 0;
		margin-bottom: 10px;
	}
}
