header,
.project:not(:last-child) {
	border-bottom: 1px solid #ccc;
}

.no-button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
	color: #1b89bc;
	text-decoration: none;
	font-size: 100%;
}

.no-button:hover {
	color: #065b83;
	text-decoration: underline;
}

.dollar-amount {
	color: #056605;
	font-weight: bold;
	margin-left: -5px;
}

/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.project {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    color: #666;
    margin-bottom: 20px;
}

.project-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-name {
    color: #888;
}

.date-created {
    color: #888;
}

.project-link {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.project-link:hover {
    background-color: #555;
} */